@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.
</p>
