@using EarthBnb.Models
@model Listing

<h1>Create Listing</h1>

<hr />

<div class="row">
    <div class="col-6">

        <div class="card">
            <div class="card-header">
                <h5>Add a Listing</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Listing" asp-action="CreateListing" method="post">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input asp-for=Location type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input asp-for=NightCost type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input asp-for=Description type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
