@model List<EarthBnbMVC.Models.Listing>

<h1>Listing Index View</h1>

<ul>
    @foreach (var listing in Model)
    {
        <li>@listing.Location</li>
        <li>@listing.NightCost</li>
        <li>@listing.Description</li>
    }
</ul>
